<div id="login">
    <form class="card ">
        <div class="card-header">
            <h1>Não tem conta ainda?</h1> <br>
            <h2> Cadastre-se</h2>
        </div>
        <div class="card-content">
            <div class="card-footer">
                <ul>
                    <li>
                        <a routerLink="/cadastroempresa" >cadastrar empresa</a>
                    </li>   
                    <li> <a href="cadastroONG.html"> cadastrar ong </a></li>
                    <li> <a href="cadastroreceptor.html"> cadastrar receptor </a></li>
                </ul>
                <h4>ja tem contar? entre</h4>
            </div>
        </div>
        <div>
            <div class="card-footer">
                <ul>
                    <li> <a href="login.html"> logar</a></li>
                </ul>
            </div>
        </div>    
    </form>
</div>